<div class="container-fluid">
	<legend>Input Creator</legend>
  <div class="form-group">
		<label for="">Category Name</label>
		<select class="form-control" [(ngModel)]="item.category">
      <option *ngFor="let category of categories" [ngValue]="category">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
		<label for="">Creator Name</label>
		<select class="form-control" [(ngModel)]="item.creator">
      <option *ngFor="let creator of creators" [ngValue]="creator">
        {{ creator.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
		<label for="">Code</label>
		<input type="text" class="form-control" id="" placeholder="Item Code" [(ngModel)]="item.code">
  </div>
  <div class="form-group">
		<label for="">Name</label>
		<input type="text" class="form-control" id="" placeholder="Item Name" [(ngModel)]="item.name">
  </div>
  <div class="form-group">
		<label for="">Price</label>
		<input type="text" class="form-control" id="" placeholder="Item Price" [(ngModel)]="item.price">
  </div>
	<button type="submit" class="btn btn-primary" (click)="onItemSave()">Submit</button>

</div>